// Place all the styles related to the Ships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ship-image {
	object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 50%;
  width: 50%;
  border-radius: 30px;
}

.ship h2 {
	font-weight: normal;
	font-size: 1em;
	opacity: 0.8;
}